body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: rgba(20, 102, 116, 0.917);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%; 
    text-align: center;
    align-items: center;
    z-index: 1; 
}

.navbar{
    color: #ccc;
}

.container {
    background-color: rgba(255, 255, 255, 0.677);
    padding: 40px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0; 
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}

.temp-container {
    padding: 30px;
    margin-top: 160px;
    flex: 0;
    text-align: center;
    color: rgb(20, 102, 116);
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: #ccc;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    margin-bottom: 350px;
    margin-left: 800px;
    border-radius: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.text-container {
    text-align: center;
    flex: 1;
    margin: 20px 0;
}

h1, p {
    margin: 10px 0;
}
